body {
	margin: 0;
	padding: 0;
}

header{
	display: flex;
	justify-content: center;
	height: 120px;
}

.container {
	display: flex;;
	justify-content: space-between;
	width: 990px;
}

.logo {
	display: flex;
	align-items: center;
}

.menu {

}