/* layout from:
http://quanticalabs.com/Medicenter/Template/ 
*/
body {
	margin: 0;
	padding: 0;
	font-family: PT-Sans;
	font:12px Arial;
}
header{
	display: flex;
	justify-content: center;
	height: 120px;
}
.container {
	display: flex;;
	justify-content: space-between;
	width: 990px;
}
.logo {
	display: flex;
	align-items: center;
}
.menu {
   display: flex;
   align-items: center;	
}
.menumobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top:  40px;
    margin-bottom:  40px;
    margin-right: 20px;
}
.mm_line {
    background-color: #39AAE1;
    height: 5px;
}
nav ul ,
nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul {
   display: flex;
}
nav a {
   display: block;
   padding: 15px;
   text-decoration: none;
   text-transform: uppercase;
   color: #727272;
}
nav .active a,
nav a:hover  {
   background-color: #39AAE1;
   color: #FFFFFF;
}
#banner {
	display: flex;
	justify-content: center;
	background-image:url("../images/img1.jpg");
	background-position: center;
	background-size: cover;
	height: 670px;
}
.banner_headline{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center; 
}
.banner_headline h1 {
	color:#FFFFFF;
	font-size: 72px;
	text-shadow: 0px 1px 0px #555555;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
	margin: 0;
	padding:0;
	max-width: 350px;
}
.banner_headline h2 {
	color:#FFFFFF;
	font-size: 22px;
	text-shadow: 0px 1px 0px #555555;
	margin: 0;
	padding:0;
	max-width: 350px;
	margin-top: 30px;
}
.banner_options{
	height: 210px;
	display: flex;
}
.banner1,
.banner2,
.banner3 {
	flex: 1;
	padding: 20px;
	color: #FFF;
}
.banner1 {
	background-color: #39AAE1;
}
.banner2 {
	background-color: #0079C7;
}
.banner3 {
	background-color: #2B4C99;
}
.opening_hours {
	display: flex;
	flex-direction: column;
}
ul.opening_hours{
    list-style: none;
    padding: 0px;
    margin: 0px;	
}
ul.opening_hours .value {
	float: right;
}
ul.opening_hours li:first-child {
    padding-top: 12px;
}
ul.opening_hours li {
   display: list-item;
   padding: 12px 0;
   border-bottom: 1px solid #E0E0E0;
   background-position: left center;
   background-repeat: no-repeat;
   line-height: 120%;
   border-color: #4468B2;
}
.clearfix:after {
    font-size: 0px;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}
.banner_title {
   font-size: 25px;
}
.banner_description{
   margin-top: 19px;
   line-height: 150%;
   color: #FFF;
   text-shadow: 0px 1px 0px rgba(0,0,0,0.5);	
}
.banner_options a {
	display: inline-block;
	border: 1px solid #FFF;
	padding: 5px;
	color: #FFF;
	font-size: 14px;
	text-decoration: none; 
}
#geral{
	display: flex;
	justify-content: center;
	background-color: #F8F8F8;	
}
#geral section {
   flex: 2;
}
#geral aside {
   flex: 1;
}
.widget_title {
	margin-top: 30px;
	margin-bottom: 20px;
}
.widget_title_text {
	color: #000;
	font-size: 12px;
	font-weight: bold;
}
.widget_title_bar {
	width: 50px;
	height: 2px;
	background-color: #36A9E1;
	margin-top: 10px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
   flex:  1;
   min-width: 300px;
   margin-right: 20px;
}
article a{
    text-decoration: none;
}
article .news_data {
    display: flex ;
}
article .news_posted_at {
    background-color: #2B4C99;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments {
    background-color: #39AAE1;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail{
    margin-top: 30px;
}
article .news_thumbnail img {
    width: 100%;
    height: auto;
}
article .news_title {
   margin-top: 25px;
   margin-bottom: 25px;
   color: #000;
   font-size: 23px;
}
article .news_text {
    color: #5C5C5C;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 30px;
}
footer {
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
}
.footer_menu {
   display: flex;
}
.footer_menu a{
    text-decoration: none;
    color: #FFF;
}
.fm1,.fm2,.fm3 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}
.fm1 {
    background-color: #39AAE1;
}
.fm2 {
    background-color: #0079C7;
}
.fm3 {
    background-color: #2B4C99;
}
.flex-column {
    flex-direction: column;
}
.footer_area {
    display: flex;
}
.footer_item {
    flex: 1;
    color: #FFFFFF;
}
footer .widget_title_text{
   color: #FFFFFF;
}
.footer_copy {
    border-top: 1px solid #2C2C2C;
    height: 40px;
    line-height: 40px;
    color:  #5C5C5C;
    font-size: 12px;
    margin-top: 30px;
}
.fm_title {
   font-size: 25px;
}
.fm_description {
   margin-top: 15px;
   line-height: 150%;
   color: #FFF;
}
.fm_description img {
    padding-left: 10px;
    line-height: 150%;
}
.icon_small_arrow {
    background-image: url('../images/icon_arrow_right_white.png');
    background-position: right center;
    padding-right: 17px;
}


@media (max-width: 600px) {
   .banner_headline h1 {
       font-size: 55px;
   }
   .banner_headline h2 {
       font-size: 17px;
   }   
   .banner_options{
       height: auto;
       flex-direction: column;
   }
   .container {
       flex-direction: column;
   }
   #geral section,
   #geral aside {
       padding: 20px;
   }
   .footer_menu {
       flex-direction: column; 
   }
   .footer_area {
       flex-direction: column;  
       padding:  20px;
   }
   .footer_copy {
       padding-left: 20px;
   }
   header .container {
       flex-direction: row; 
   }
   nav ul {
       flex-direction: column;
       display: none;
   }
   header {
       height: auto;
   }
   .logo {
       padding-left: 20px;
   }
   .menumobile {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
   }


}