body {
	margin: 0;
	padding: 0;
}
header{
	display: flex;
	justify-content: center;
	height: 120px;
}
.container {
	display: flex;;
	justify-content: space-between;
	width: 990px;
}
.logo {
	display: flex;
	align-items: center;
}
.menu {
   display: flex;
   align-items: center;	
}
nav ul ,
nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul {
   display: flex;
}
nav a {
   display: block;
   padding: 15px;
   text-decoration: none;
   text-transform: uppercase;
   color: #727272;
   font-family: Arial;
}
nav .active a,
nav a:hover  {
   background-color: #39AAE1;
   color: #FFFFFF;
}
#banner {
	background-image:url("../images/img1.jpg");
	background-position: center;
	background-size: cover;
	height: 670px;
}