body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}
header{
	display: flex;
	justify-content: center;
	height: 120px;
}
.container {
	display: flex;;
	justify-content: space-between;
	width: 990px;
}
.logo {
	display: flex;
	align-items: center;
}
.menu {
   display: flex;
   align-items: center;	
}
nav ul ,
nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul {
   display: flex;
}
nav a {
   display: block;
   padding: 15px;
   text-decoration: none;
   text-transform: uppercase;
   color: #727272;
}
nav .active a,
nav a:hover  {
   background-color: #39AAE1;
   color: #FFFFFF;
}
#banner {
	display: flex;
	justify-content: center;
	background-image:url("../images/img1.jpg");
	background-position: center;
	background-size: cover;
	height: 670px;
}
.column {
	flex-direction: column;
}
.banner_headline{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center; 
}
.banner_headline h1 {
	color:#FFFFFF;
	font-size: 70px;
	text-shadow: 0px 1px 0px #555555;
	margin: 0;
	padding:0;
	max-width: 350px;
}
.banner_headline h2 {
	color:#FFFFFF;
	font-size: 22px;
	text-shadow: 0px 1px 0px #555555;
	margin: 0;
	padding:0;
	max-width: 350px;
	margin-top: 30px;
}
.banner_options{
	height: 210px;
	display: flex;
}
.banner1,
.banner2,
.banner3 {
	flex: 1;
	padding: 20px;
	color: #FFF;
}
.banner1 {
	background-color: #39AAE1;
}
.banner2 {
	background-color: #0079C7;
}
.banner3 {
	background-color: #2B4C99;
}
.banner_title {
   font-size: 25px;
}
.banner_description{
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.banner_options a {
	display: inline-block;
	border: 1px solid #FFF;
	padding: 5px;
	color: #FFF;
	font-size: 14px;
	text-decoration: none; 
}